doctype html
html(lang="en")
  head
    title= `${recipe.title} - The Flavour Cartel`
    link(rel="stylesheet" href="/styles.css")
  body
    header
      .navbar
        h1 The Flavour Cartel
        nav
          ul
            li: a(href="/") Home
            li: a(href="/recipes") Browse Recipes
            li: a(href="/submit-recipe") Submit Recipe
            li: a(href="/users") Users
            li: a(href="/login") Login

    .main-content
      .detail-container
        // TOP SECTION: Title, Image, Metadata
        .top-section
          h2= recipe.title
          if recipe.image
            img(src=`/images/${recipe.image}` alt=recipe.title)
          if recipe.category_name
            p Category: #{recipe.category_name}
          if recipe.created_at
            p Created at: #{new Date(recipe.created_at).toLocaleString()}
          if recipe.user_name
            p Created by:
              // Small image and a button with the creator's name
              img.creator-profile-pic(src=`/images/${recipe.user_image || 'default.png'}` alt="Creator's Image")
              button.btn.user-btn(type="button", onclick=`window.location.href='/users/${recipe.user_id}'`) #{recipe.user_name}

        // BOTTOM SECTION: Two-Column Layout
        .bottom-section
          // LEFT COLUMN: Ingredients
          .left-column
            h3 Ingredients
            if recipe.ingredients.length
              ul
                each ingredient in recipe.ingredients
                  li= ingredient
            else
              p No ingredients provided.
          // RIGHT COLUMN: Instructions
          .right-column
            h3 Instructions
            if recipe.instructions.length
              ul
                each step in recipe.instructions
                  li= step
            else
              p No instructions provided.

        // ACTIONS: Back button
        .actions
          a.btn(href="/recipes") Back to Recipes

    footer
      p
        | &copy; 2025 The Flavour Cartel | Made with ❤️ 
        | 
        a(href="/conduct") Code of Conduct