html(lang="en")
  head
    title Search Results - The Flavour Cartel
    link(rel="stylesheet" href="/styles.css") 
  body
    header
      .navbar
        h1 The Flavour Cartel
        nav
          ul
            li: a(href="/") Home
            li: a(href="/recipes") Browse Recipes
            li: a(href="/submit-recipe") Submit Recipe
            li: a(href="/users") Users
            li: a(href="/login") Login

    .search-results
      h2 Search Results for "#{searchQuery}"

      if recipes.length
        .recipe-grid
          each recipe in recipes
            .recipe-card
              img(src=`/images/${recipe.image}` alt=recipe.title)
              h4= recipe.title
              p= recipe.description
              a.btn(href=`/recipe/${recipe.id}`) View Recipe
      else
        p No recipes found matching "#{searchQuery}".

    footer
      p &copy; 2025 The Flavour Cartel | Made with ❤️
